/* tables */
.table-bordered,.table-bordered tr,.table-bordered th,.table-bordered td,.table-bordered tbody
{
	border: 1px solid #333 !important;
}
.table-bordered thead {
	border-bottom: 2px solid #333 !important;
}

th, td {
		border-top: 1px solid #333 !important;
}

caption {
	padding-top: 0;
}

/* figure and figcaption */

.panel figcaption.fig-bottom {
	margin: 1em -15px -15px;
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 0 0 4px 4px;
}
figure + figure {
	margin-top: 1em;
}

figure > figure figcaption.fig-bottom {
	margin-top: 0 !important;
}

/* left nav */
a.expanded-white {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.expanded-black {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-black.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.expanded-black:hover {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");	
}

a.expanded-black:focus {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");	
}

a.collapsed {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-black.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.collapsed:hover {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-white.png");
}

a.collapsed:focus {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-white.png");
}
li.expanded-white ul.inner{
	display:block;
}

li.expanded-black ul.inner{
	display:block;
}

li.collapsed ul.inner{
	display:none;
}

/* code block label */
.lang-label {
	margin: 0 0 0 1em;
	background: #2b2b2b;
	display: inline-block;
	color: #fff;
	padding: 0 0.5em;
	border-radius: 4px 4px 0 0;
}