a.expanded-white {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.expanded-black {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-black.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.expanded-black:hover {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");	
}

a.expanded-black:focus {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/down-arrow-white.png");	
}

a.collapsed {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-black.png");
	background-repeat: no-repeat;
	background-position: right;
}

a.collapsed:hover {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-white.png");
}

a.collapsed:focus {
	background-image: url("../learning/esdc-self-paced-web-accessibility-course/module8/images/right-arrow-white.png");
}
li.expanded-white ul.inner{
	display:block;
}

li.expanded-black ul.inner{
	display:block;
}

li.collapsed ul.inner{
	display:none;
}