.alert>p+p {
    margin-left: 23px;
}

h2 {
    padding-bottom: 12px;
}

.h3 small {
	display: block;
	margin-top: 10px;
	font-size: 0.7em;
}

.article-card-thumbnail img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    display: block;
}