h2 { font-size: 1.5em; } 
main { margin: 2em 20em 4em 10%}
main > div { margin-left: 2rem;}
main > div > h2 { margin: 4rem 0 2rem -2rem;}
nav { float: right; width: 20em; padding: 0 0 2em 2em; line-height: 2; }
nav ol { list-style-type: none; margin-left: 0; padding-left: 0; }
nav ol ol { padding-left: 2em; }
li:has(a[aria-current]), li:has(> a:hover), li:has(> a:focus) { background-color: #ccffcc; }
.fa-bug, .fa-bomb { color: red;}
.fa-circle-check { color: green;}
@media screen and (max-width: 900px) {

  nav { float: none; width: auto; padding: auto; line-height: 1.2; }
  main, h2 { margin: 1em !important; }
  
}
