[submodule "learning"]
	path = learning
	url = https://github.com/bati-itao/learning.git
	branch = master
[submodule "resources"]
	path = resources
	url = https://github.com/bati-itao/resources.git
[submodule "services"]
	path = services
	url = git@github.com:bati-itao/services.git
[submodule "projects"]
	path = projects
	url = git@github.com:bati-itao/projects.git
