<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="{{ lang or 'en' }}">
<head>
<meta charset="utf-8"/>
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>{{ title }}{% if not title.includes('IT Accessibility office') %} - IT Accessibility office{% endif %}</title>
<meta content="width=device-width,initial-scale=1" name="viewport"/>
<!-- Meta data -->
<meta content="{{ description }}" name="description"/>
<!-- Meta data-->
<!-- Load closure template scripts -->
<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
<script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-{{ lang or 'en' }}.js"></script>
<!-- Write closure template -->
<script src="{{ relativeToRoot }}scripts/refTop.min.js"></script>
<link href="{{ relativeToRoot }}css/a11y-dark.css" rel="stylesheet"/>
<script src="{{ relativeToRoot }}scripts/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<link href="{{ relativeToRoot }}css/esdc-course.css" rel="stylesheet"/>
</head>
<body typeof="WebPage" vocab="https://schema.org/">
<div id="def-top">
</div>
<!-- Write closure template -->
<script>
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.appTop({
            "appName": [{
                "text": "{{ appName or 'ESDC / IT Accessibility office' }}",
                "href": "{{ relativeToRoot }}index.html"
            }],
           "breadcrumbs" : {{ breadcrumbs | dump | safe }},
        "lngLinks": [
          {
            "lang": "{{ altLang or 'fr' }}",
            "href": "{{ altLangHref }}",
            "text": "{{ altLangText or 'Français' }}",
          }],
        "menuPath": "{{ relativeToRoot }}ajax/menu-{{ lang or 'en' }}.html"
      });
</script> 
<div class="container"> 
<div class="row">
<div id="def-search"></div>
<script src="{{ relativeToRoot }}scripts/appSearch{{ '-' + lang if lang == 'fr' else '' }}.js"></script>
{{ content | safe }}
</div>
</div>

<div id="def-preFooter"></div>
<script src="{{ relativeToRoot }}scripts/preFooter.min.js"></script>

<div id="def-footer"></div>
<script src="{{ relativeToRoot }}scripts/appFooter{{ '-' + lang if lang == 'fr' else '' }}.min.js"></script>
<script src="{{ relativeToRoot }}scripts/refFooter.min.js"></script>
<script src="{{ relativeToRoot }}scripts/bati-itao.min.js"></script>
</body>
</html>