.team-member{
    position: relative;
    border-bottom: #38414d 4px solid;
    box-shadow: #e1e4e7 0px -1px 4px;
    padding: 2.5rem 0 0;
    margin-bottom: 3rem;
    text-align: center;
}

.photo-container img{
    display: block;
    margin: 0rem auto 1.5rem auto;
    height: 15rem;
    width: 15rem;
    border: #38414d 2px solid;
    background-size: cover;
    border-radius: 50%;
}

.long-title{
    display: block;
    position: relative;
    font-size: 14px;
}

.name, .title, .info{
    display: block;
    position: relative;
}

.text .name{
    font-size: 2.35rem;
    font-weight: 600;
}

.text .title{
    font-size: 1.7rem;
    color: #4c4c4c;
}

.info{
    border-top: solid 1px grey;
    padding: 1rem 0;
    margin: 0.5rem 0 0 0;
    line-height: 2.5rem;
    height: 220px;
}

.info-smaller{
    border-top: solid 1px grey;
    padding: 1rem 0;
    margin: 0.5rem 0 0 0;
    line-height: 2.5rem;
    height: 110px;
}

.info, .info-smaller ul{
    text-align: left;
    font-size: 1.4rem;
}

.social{
    width: 100%;
    min-height: 4rem;
}

/*Temporary icon fix*/
.social i span {
    font-size: 1.5rem;
    font-weight: normal;
    font-family: 'Noto Sans', sans-serif;
}


