$theme-color: rgb(15, 148, 118);

.home {
	background: no-repeat center center; 
	background-size: cover;
	
	.gctheme.well.header-rwd {
		background-color: darken($theme-color, 15);
		
		h1 {
			width: 100%;
			border: none;
			
			small {
				border-top: solid 4px darken($theme-color, 25);
				color: #fff;
				padding-top: 15px;
				font-family: "Noto Sans",sans-serif;
				width: 100%;
			}
		}
	}
}

h1,
h2,
h3,
h4 {

	small {
		color: darken($color: $theme-color, $amount: 8);
	}
}

h2 {
	color: darken($color: $theme-color, $amount: 10);
	font-size: 2em;
}

h3 {
	color: darken($color: $theme-color, $amount: 10);
	font-size: 1.4em;
}

h4 {
	color: darken($color: $theme-color, $amount: 10);
}

.colour {
	color: darken($color: $theme-color, $amount: 10);
}

.banLanding {
	background-image: url("../img/intro.jpg");
}

.banTools {
	background-image: url("../img/inspiringtools.jpg");
}

.banIntro {
	background-image: url("../img/intro.jpg");
}

.banPlay1 {
	background-image: url("../img/play1.jpg");
}

.banPlay2 {
	background-image: url("../img/play2.jpg");
}

.banPlay3 {
	background-image: url("../img/play3.jpg");
}

.banPlay4 {
	background-image: url("../img/play4.jpg");
}

.banPlay5 {
	background-image: url("../img/play5.jpg");
}

.banPlay6 {
	background-image: url("../img/play6.jpg");
}

.banPlay7 {
	background-image: url("../img/play7.jpg");
}

.ceasc-cite {
	margin: 70px auto;
}

.ceasc-quote {
	margin: 70px auto;
	width: 85%;
	padding-left: 125px;
	min-height: 150px;
	background: no-repeat left center;
	border: none;
}

h1, 
h2 {
	small {
		display: block;
		margin-top: 15px;
	}
}

.billy {
	background-image: url('../img/billy.png') ;
	position: relative;

	&:first-child {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.mark {
	background-image: url('../img/mark.png') ;
}

.nora {
	background-image: url('../img/nora.png') ;
}

.luca {
	background-image: url('../img/luca.png') ;
}

.jeremy {
	background-image: url('../img/jeremy.png') ;
}

.leo {
	background-image: url('../img/leo.png') ;
}

.sophie {
	background-image: url('../img/sophie.png') ;
}

.alert {
	margin: 50px auto;

	&.alert-info {
		background-color: lighten($color: $theme-color, $amount: 60);
	}
}

.active {
	background-color: darken($theme-color, 5);
}

.list-group-item {
	
	&.disabled {
	color: #000;
   }
}

.toc {
	li {
		.list-group-item {
			&.active {
				background-color: darken($theme-color, 17);

				&:hover {
					background-color: darken($theme-color, 17);
				}

				&:focus {
					background-color: darken($theme-color, 17);
				}
			}
		}
	}
}

.panel-primary {
	border-color: darken($theme-color, 17);
}

.panel-primary > .panel-heading {
	color: #fff;
	background-color: darken($theme-color, 17);
	border-color: darken($theme-color, 17);
}