/*
Color palette
https://coolors.co/palettes/popular/green
--forest-green-traditional: #134611;
--india-green: #3e8914;
--green-pigment: #3da35d;
--light-green: #96e072;
--nyanza: #e8fccf;
*/

body {	
	color: #134611;
	background-color: #E3E3E3;
	font-family: "Noto Sans",sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.clear-fix:after {
  content:"";
  display:block;
  clear:both;
 }
 
#pagewrap {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* Responsive layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

/* Responsive 3-column layout in middle wrap */

#mid-wrap .col-a {
  flex: 20%;
}
#mid-wrap .col-b {
  flex: 55%;
}
#mid-wrap .col-c {
  flex: 25%;
}
/* Responsive 4- and 3-column layouts in footer */
footer .column {
  flex: 25%;
}
/* Responsive layout - makes a one column layout */
@media (max-width: 800px) {
  .column,
  #mid-wrap .column,
  footer .column {
    	flex: 100%;
  }
}


/* "Free shipping on orders over $19.95" */
.topbarblock {
    /*position: absolute;
    top: 0;*/
    width: 100%;
/*    height: 37px; */
    padding: 0;
    background: #3e8914ff;
    margin: 0 auto;
    text-align: center;
    font: 100% Open Sans Condensed, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.9;
    overflow: hidden;
    color: #fff;
    display: block;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -pie-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    border-bottom: 2px solid #134611;
}
.topbarblock p {
	margin: 0;
}

header { 
	padding: 0.5em 0 0.5em 1em;
	position: relative;
	background-image: url("../images/trees.jpg");
	background-repeat: no-repeat;
	background-color: #fff;
	border-bottom:  2px solid #3E8914;
}
header img {
 	display: block;
 	float: left;
 	width: 120px;
 	height: 116px;
 	border: 2px solid #134611;
 	margin-bottom: 6px;
}
header #header-box {
	position: absolute;
	top: 0;
	right: 0;
}
header aside {
	text-align: right;
	background-color: #3e8914;
	padding: 1rem 2rem 0.5rem 0;
    border-radius: 1px 1px 1px 10px;
    border-bottom: 1px solid #e8fccf;
    border-left: 1px solid #e8fccf;
 /*   width: 18em */
}

header aside * {
	display: inline-block;
	color: #fff;
}
header aside p {
	margin-left: 1em;
}
header #sign-out a {
	text-decoration: underline;
	padding: 0 0.25em;
}
header #sign-out a:hover,
header #sign-out a:focus {
	background-color: #96e072ff;
	color: #3e8914;
	text-decoration: none;
}
header form {
	clear: right;
	float: right;
/*	width: 30em; */
	text-align: right;
	margin: 1.5rem 2rem 1rem 0;
}

/* Responsive menu */
#navbar {
	background-color: #3da35dff;
}
#navbar ul { 
   list-style: none;
   margin: 0;
   padding: 0; 
}
#global-menu a {
   display: block;
   color: white;
   background-color: #3da35dff;
/*   border-radius: 1px 1px 5px 5px;  */
   padding: 5px 15px;
   text-decoration: none;
}
#global-menu a:hover,
#global-menu a:focus,
#global-menu [aria-current] { 
   color: #000000; 
   background-color: #96e072ff;
}
#global-menu a:hover,
#global-menu a:focus {
   text-decoration: none;
}
#breadcrumbs {
	margin: 0.5em 0 1em 0;
}
#breadcrumbs li::after {
	content: "\276F"; 
}
#breadcrumbs li:last-child::after {
	content: none; 
}
#breadcrumbs a {
	padding: 5px 15px;
}
h1 {
	border: none;
	margin: 0 0 0.5rem 0;
	font-size: 3rem;
}
h2,
#mid-wrap .col-c h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1, h2, h3 {
	color: #3e8914;
}
h3 {
	font-size: 1em;
	font-weight: bold;
}
h1,
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mid-wrap {
	clear: both;
	margin: 3em 0 3em 0;
}

#mid-wrap nav h2,
#mid-wrap .col-c h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1.5rem;
}
#mid-wrap nav ul {
	margin-bottom: 2em;
}
#mid-wrap nav li {
	width: 100%;
	margin-bottom: 0.25em;
}
#mid-wrap nav a {
	display: block;
	padding-left: 0.25em;
}
#mid-wrap nav li::after {
/*	content: "\232A"; */
}
#mid-wrap nav a[aria-current],
#mid-wrap nav a:focus,
#mid-wrap nav a:hover { 
   color: #000000; 
   background-color: #96e072ff;
   border-radius: 1px 5px 5px 1px; 
   text-decoration: none;
}
#mid-wrap nav span {
	width: 80%;
}
main form {
	margin: 2em;
}
.form-row {
	margin-bottom: 1em;
}
main form label {
/*
	text-align: right;
	width: 15em;
	vertical-align: top;
*/
	display: block;
}
main form select {
	padding: 0.25em 0;
	width: 16em;
	display: block;
}
main form textarea {
	width: 100%;
}
main form div.submit {
	text-align: right;
}
aside { }

footer {
	padding: 2rem;
	border-top: 10px solid #3E8914;
}

footer, footer * {
	background-color: #134611;
	color: #E8FCCF;
 }
footer nav {
	/* padding: 1em 1em 0; */
}
footer nav .column h2 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1rem;
}
footer .province, footer option {
	color: #134611;
	background-color: #fff;
	padding: 0.15em 0.5em;
	border-color: #e8fccf;
}
footer select.province {
	padding: 0.3em 0.5em;
}
footer #prov-link {
	text-align: right;
}

footer a,
footer label {
	color: #E8FCCF;
	text-decoration: none;
}
footer a:hover,
footer a:focus {
	color: #E8FCCF;
	text-decoration: underline;
}

footer li {
	padding-top: 1em;
}
footer #to-top-link {
	text-align: right;
}
footer #to-top-link a {
	background-image: url("../images/to-top.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding-top: 1em;
}
footer #copyright {
	text-align: center;
	line-height: 2;
	margin: 1em 0 0 0;
}
/* MEDIA QUERY 1 - For viewports 960px and wider */ 
@media (min-width: 801px) { 
   #navbar {
		
	}    
   #navbar  ul {  
		margin-left: 20%;
		padding-left: 1rem;
   }  
   
   #navbar li {  
      margin-right: 1em; 
      float: left;
   } 
   #navbar a {  
      
   } 
	#mid-wrap .column > * {
		margin: 0 2rem;
	}
	#mid-wrap .col-c h2 {
		line-height: 2;
	}
   footer nav .column > * {
	  margin: 0 1rem;
	}
	footer nav .col-a > * {
	  margin-left: 0;
	}
	footer nav .col-d > * {
	  margin-right: 0;
	}
	footer #prov-link > * {
		margin: 0 0 0 1rem;
	}
	nav h2 {
		margin-bottom: 0.5rem;
	}
}
/* END MEDIA QUERY 1 */ 
/* MEDIA QUERY 2 - For viewports 800px and narrower */ 
@media (max-width: 800px) { 
  /* nav,*/
   .column,
   #mid-wrap .column,
   footer .column { 
      width: 100%;
   } 
   header {
   		margin-bottom: 1.5rem;
   }

   header aside {
		padding: 0.5rem 1rem 0.25rem;
   }
   #mid-wrap {
   		margin-top: 1rem;
   }
   #mid-wrap .column {
   		margin-bottom: 2rem;
   }
   #mid-wrap .column > * {
		margin: 0 1rem;
	}
   #navbar ul,
   #mid-wrap nav ul {
   		margin: 0 1em 0;
   }
   #navbar a {   
      /* width: 66%; */
      margin-bottom: 5px;  
      border-radius: 1px 1px 5px 5px;          
   } 
   #navbar a:hover,
   #navbar a:focus {   
      border-radius: 5px 25px 25px 5px; 
   }

   footer #prov-link {
		text-align: left;
	}
   footer ul {
		margin-bottom: 1em;
	}
}  
/* END MEDIA QUERY 2 */
/* MEDIA QUERY 3 - For viewports 500px and narrower */ 
@media (max-width: 500px) { 
   
   header img {
   		float: none;
   }
   header #header-box {
   		position: static;
		width: 100%;
	}
   header aside {
   	width: 100%;
   }
}  
/* END MEDIA QUERY 3 */