/*
Color palette
https://coolors.co/palettes/popular/green
--forest-green-traditional: #134611;
--india-green: #3e8914;
--green-pigment: #3da35d;
--light-green: #96e072;
--nyanza: #e8fccf;
*/

/* Skip menu overriding bootstrap */

.skip-menu {
	width: 26em;
}
body {	
	color: #134611;
	background-color: #E3E3E3;
	font-family: "Noto Sans",sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.clear-fix:after {
  content:"";
  display:block;
  clear:both;
 }
 
#pagewrap {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* Responsive layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

/* Responsive 3-column layout in middle wrap */

#mid-wrap .col-a {
  flex: 20%;
}
#mid-wrap .col-b {
  flex: 55%;
}
#mid-wrap .col-c {
  flex: 25%;
}
/* Responsive 4- and 3-column layouts in footer */
footer .column {
  flex: 25%;
}
/* Responsive layout - makes a one column layout */
@media (max-width: 800px) {
  .column,
  #mid-wrap .column,
  footer .column {
    	flex: 100%;
  }
}

/* Three-row grid */



/* "Free shipping on orders over $19.95" */
.topbarblock {
    /*position: absolute;
    top: 0;*/
    width: 100%;
/*    height: 37px; */
    padding: 0;
    background: #3e8914ff;
    margin: 0 auto;
    text-align: center;
    font: 100% Open Sans Condensed, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.9;
    overflow: hidden;
    color: #fff;
    display: block;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -pie-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    border-bottom: 2px solid #134611;
}
.topbarblock p {
	margin: 0;
}
/* image source: https://wamlatin.com/en-GB/WAMCB/SDetail/S13365/SOL_ENV/Environmental-Technology */
header { 
	padding: 1em 0 0.5em 1em;
	position: relative;
	background-image: url("../images/trees.jpg");
	background-repeat: no-repeat;
	background-color: #fff;
	border-bottom:  2px solid #3E8914;
}
header img {
 	display: block;
 	float: left;
 /*	width: 200px; */
 	width: 18%;
 	height: auto;
 	border: 2px solid #134611;
 	margin-bottom: 1em;
}
header #header-box {
	position: absolute;
	top: 0;
	right: 0;
}
header .account {
	text-align: right;
	background-color: #3e8914;
	padding: 1rem 2rem 0.5rem 0;
    border-radius: 1px 1px 1px 10px;
    border-bottom: 1px solid #e8fccf;
    border-left: 1px solid #e8fccf;
}

header .account * {
	display: inline-block;
	color: #fff;
}
header .account p {
	margin-left: 1em;
}
header #sign-out a,
footer a {
	text-decoration: underline;
	padding: 0 0.25em;
}
header #sign-out a:hover,
header #sign-out a:focus {
	background-color: #e8fccf;
	color: #3e8914;
	text-decoration: none;
}
header form {
	clear: right;
	float: right;
	text-align: right;
	margin: 1.5rem 2rem 1rem 0;
}

/* Responsive menu */

#global-menu {
	background-color: #3da35d;
}
#global-menu a {
   display: block;
   color: white;
   background-color: #3da35d;
   padding: 0.25em 1em;
   text-decoration: none;
   border-bottom: 2px solid #3da35d;
}
#global-menu a:hover,
#global-menu a:focus,
#global-menu [aria-current] { 
   color: #000000; 
   background-color: #e8fccf;
   text-decoration: none;
}
#navbar li {  
  margin-right: 1em; 
  /* float: left; */
  display: inline-block;
} 
#breadcrumbs {
	margin: 0.5em 0 1em 1em;
}
#breadcrumbs ol {  
	list-style: none;
	padding: 0 0 0 1rem; 
}  
#breadcrumbs li {  
  margin-right: 1em; 
  /* float: left; */
} 
#breadcrumbs li::after {
	content: "\276F"; 
}
#breadcrumbs li:last-child::after {
	content: none; 
}
#breadcrumbs a {
	padding: 0.25em 1em 0.25em 0;
}
h1 {
	border: none;
	margin: 0 0 0.5rem 0;
	font-size: 3rem;
}
h2,
#mid-wrap .col-c h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h1, h2, h3 {
	color: #3e8914;
}
h3 {
	font-size: 1em;
	font-weight: bold;
}
nav ul, 
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mid-wrap {
	clear: both;
	margin: 1em 0 3em 0;
}

#mid-wrap nav h2,
#mid-wrap .col-c h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 1.5rem;
}
#mid-wrap nav ul {
	margin-bottom: 2em;
}
#mid-wrap nav li {
	width: 100%;
	margin-bottom: 0.25em;
}
#mid-wrap nav a {
	display: block;
	padding-left: 0.25em;
}
#mid-wrap nav li::after {
/*	content: "\232A"; */
}
#mid-wrap nav a[aria-current],
#mid-wrap nav a:focus,
#mid-wrap nav a:hover { 
   color: #000000; 
   background-color: #e8fccf;
   border-radius: 1px 5px 5px 1px; 
   text-decoration: none;
   outline: 1px solid #3e8914;
}
#mid-wrap nav span {
	width: 80%;
}
main form {
	margin: 2em;
}
.form-row {
	margin-bottom: 1em;
}
main form label {
/*
	text-align: right;
	width: 15em;
	vertical-align: top;
*/
	display: block;
}
main form select {
	padding: 0.25em 0;
	width: 16em;
	display: block;
}
main form textarea {
	width: 100%;
}
main form div.submit {
	text-align: right;
}
aside { }

footer {
	padding: 2rem;
	border-top: 10px solid #3E8914;
}
footer, footer * {
	background-color: #134611;
	color: #E8FCCF;
 }
footer li {
	padding-top: 1em;
}
footer .province, 
footer option {
	color: #134611;
	background-color: #fff;
	padding: 0.15em 0.5em;
	border-color: #e8fccf;
}
footer select.province {
	padding: 0.3em 0.5em;
}
footer a,
footer label {
	color: #E8FCCF;
	text-decoration: none;
}
footer a {
	padding: 0.25em 0.5em;
	text-decoration: none;
}
footer a:hover,
footer a:focus {
	background-color: #e8fccf;
	color: #3e8914;
	text-decoration: none;
}
footer #prov-link {
	text-align: right;
}
footer #to-top-link {
	text-align: right;
}
footer #to-top-link a {
	background-image: url("../images/to-top.png");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	padding-top: 1em;
}
footer #to-top-link a:hover,
footer #to-top-link a:focus {
	color: #3e8914;
	background-image: url("../images/to-top-focus.png");
}
footer #copyright {
	text-align: center;
	line-height: 2;
	margin: 1em 0 0 0;
}
/* MEDIA QUERY 1 - For viewports 960px and wider */ 
@media (min-width: 801px) { 
 
   #navbar ul,
   #navbar ol {  
		margin-left: 20%;
		padding-left: 1rem;
   }  

	#mid-wrap .column > * {
		margin: 0 2rem;
	}
	#mid-wrap .col-c h2 {
		line-height: 2;
	}
   footer nav .column > * {
	  margin: 0 1rem;
	}
	footer nav .col-a > * {
	  margin-left: 0;
	}
	footer nav .col-d > * {
	  margin-right: 0;
	}
	footer #prov-link > * {
		margin: 0 0 0 1rem;
	}
	nav h2 {
		margin-bottom: 0.5rem;
	}
}
/* END MEDIA QUERY 1 */ 
/* MEDIA QUERY 2 - For viewports 800px and narrower */ 
@media (max-width: 800px) { 
  /* nav,*/
   .column,
   #mid-wrap .column,
   footer .column { 
      width: 100%;
   } 
   header {
   }
	header img {
   		width: 20%;
   		min-width: 140px;
   }
   header .account {
		padding: 0.5rem 1rem 0.25rem;
   }
   #navbar ul,
   #navbar ol,
   #mid-wrap nav ul {
   		margin: 0 1em 0;
   }
   #navbar a {   
      /* width: 66%; */
      margin-bottom: 5px;  
      border-radius: 5px;          
   } 
   #navbar a:hover,
   #navbar a:focus {   
      border-radius: 5px; 
   }
   #global-menu {
   		padding: 0.35em 0 0.2em 0;
   }
   #breadcrumbs ol {
   		padding-left: 0;
   }
   #mid-wrap {
   		margin-top: 1rem;
   }
   #mid-wrap .column {
   		margin-bottom: 2rem;
   }
   #mid-wrap .column > * {
		margin: 0 1rem;
	}
   
	main form {
		margin: 0;
	}
   footer #prov-link {
		text-align: left;
	}
   footer ul {
		margin-bottom: 1em;
	}
}  
/* END MEDIA QUERY 2 */
/* END MEDIA QUERY 3 */ 
/* MEDIA QUERY 3 - For viewports 600px and narrower */ 
@media (max-width: 600px) { 
   #navbar li {  
      float: none;
      margin-right: 0;
   }  
}
/* END MEDIA QUERY 3 */
/* MEDIA QUERY 4 - For viewports 500px and narrower */ 
@media (max-width: 500px) { 
   header img {
   		float: none;
   }
   header #header-box {
   		position: static;
		width: 100%;
	}
   header .account {
   	width: 100%;
    border-radius: 10px 1px 1px 10px;
    border: none;
	} 
	#global-menu {
		padding: 0 1rem;
		padding: 0.35em 1rem 0.2em;
	} 
   #navbar ul,
   #navbar ol,
   #mid-wrap nav ul {
   		margin: 0;
   }
   main form select {
   		width: 100%;
   }
}
/* END MEDIA QUERY 4 */
