/*
Color palette
https://coolors.co/palettes/popular/green
--forest-green-traditional: #134611;
--india-green: #3e8914;
--green-pigment: #3da35d;
--light-green: #96e072;
--nyanza: #e8fccf;
*/
body {	
	color: #134611;
	background-color: #E3E3E3;
}
.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
 }
 
#pagewrap {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
/* Responsive layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

/* Responsive 3-column layout in middle wrap */

#mid-wrap .col-a {
  flex: 20%;
}
#mid-wrap .col-b {
  flex: 55%;
}
#mid-wrap .col-c {
  flex: 25%;
}
#mid-wrap .column {
/*	padding: 0 1em; */
}
/* Responsive 4- and 3-column layouts in footer */
#footer-row-a .column {
  flex: 25%;
}
#footer-row-b .column {
  flex: 33.3%;
}


/* Responsive layout - makes a one column layout */
@media (max-width: 800px) {
  .column,
  #footer-row-a .column,
  #footer-row-b .column {
    flex: 100%;
    flex: 96%;
  }
}


/* "Free shipping on orders over $19.95" */
.topbarblock {
    /*position: absolute;
    top: 0;*/
    width: 100%;
    height: 37px;
    padding: 0;
    background: #3e8914ff;
    margin: 0 auto;
    text-align: center;
    font: 100% Open Sans Condensed, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.9;
    overflow: hidden;
    color: #fff;
    display: block;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -webkit-box-shadow: 0 0 5px 0 rgb(0 0 0 / 33%);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -ms-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
    -pie-box-shadow: 0 0 5px 0 rgba(0,0,0,0.33);
}

header { 
	padding: 0.5em 1em;
	position: relative;
}
header img {
 	float: left;
 	width: 120px;
}
header aside {
/*	position: absolute;
	top: 1em;
	right: 1em;
*/
	text-align: right;
	float: right;
	width: 30em;
	margin-top: 1em;
}
header aside > * {
	display: inline-block;
	margin-left: 1em;
}
header form {
	clear: right;
	float: right;
	width: 30em;
	text-align: right;
	margin-top: 0.5em;
}
#navbar {
	margin-left: 20%;
	padding: 0 1em;
}
/* Responsive menu */
#navbar ul { 
   list-style: none;
   margin: 0;
   padding: 0; 
}
#navbar a {
   display: block;
   color: white;
   background-color: #3da35dff;
   border-radius: 1px 5px 5px 1px;  
   padding: 5px;
   text-decoration: none;
}
#navbar a:hover,
#navbar a:focus,
#navbar [aria-current] { 
   color: #000000; 
   background-color: #96e072ff;
}
#navbar a:hover,
#navbar a:focus {
   text-decoration: none;
}
/* MEDIA QUERY 1 - For viewports 960px and wider */ 
@media (min-width: 801px) { 
  /*main, 
   nav {  
      width: 950px;   
      margin: auto;  
   } 
   main {
      clear: left;
      overflow: auto;
      margin-top: 1rem;
   }   
   */          
   #navbar ul {  
		margin-left: 1em;
   }  
   
   #navbar li {  
      margin-right: 1em; 
      float: left;
   } 
   #navbar a {  
      padding-right: 0.5em;
   }   
}
/* END MEDIA QUERY 1 */ 
/* MEDIA QUERY 2 - For viewports 959px and narrower */ 
@media (max-width: 800px) { 
   main,
   nav { 
      width: 100%;
   }
   #navbar a {   
      width: 66%; 
      margin-bottom: 5px;            
   } 
   #navbar a:hover,
   #navbar a:focus {   
      border-radius: 5px 25px 25px 5px; 
   }   
}  
/* END MEDIA QUERY 2 */

h1,
#mid-wrap .col-b h1 {
	border: none;
	margin: 0 0 0.5rem 0;
}
h2,
#mid-wrap .col-c h2 {
	margin: 0 0 0.5rem 0;
}
h1, h2 {
	color: #3e8914;
}
h1,
#mid-wrap .col-c h2 {
	margin-top: 0;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mid-wrap {
	clear: both;
	margin-top: 1em;
}
#mid-wrap .column > * {
	margin: 0 2em;
}
#mid-wrap .col-a > * {
	margin: 0 0 0 1em;
}
#mid-wrap .col-c > * {
	margin: 0 1em 0 0;
}
/* overwrites WET theme */
html, body, main { 
	font-size: 1em;
	line-height: 1.5;
}

aside { }


footer, footer * {
	background-color: #134611;
	color: #E8FCCF;
 }
#footer nav {
	padding: 1em 1em 0;
}
#footer nav .column > * {
  margin: 0 2%;
}
#footer-row-b {
	margin-top: 2em; 
 }
footer h2 {
	font-size: 1em;
}
footer .province {
	color: #134611 !important;
	background-color: #fff;
}

footer a,
footer label {
	color: #E8FCCF;
	text-decoration: none;
}
footer a:hover,
footer a:focus {
	color: #E8FCCF;
	text-decoration: underline;
}
footer #copyright {
	text-align: center;
	line-height: 2;
	padding: 1em 0;
}