.reveal {
    font-size: 125%;
}

.reveal .cite {
    font-size: 70%;
}

.pour p {
    font-size: 200%;
    text-align: left;
    margin-left: 300px;
}
.pour .pourLetter {
    font-size: 200%;
    font-weight: 700;
    margin-right: 15px;
}

.reveal .lg-txt {
    font-size: 150%;
}

.reveal .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.reveal .highlight {
    color: cyan;
}

/* Custom Styles*/
.stand-out{
    color: #e7ad52;
}

.smaller{
    width: 70%;
}

.background::after{
    content: "";
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-9::after{
    background-image: url('../img/sky-background.jfif');
}

.slide-12::after{
    background-image: url('../img/speakers.jpg');
}

.slide-13::after{
    background-image: url('../img/motor.jfif');
    top: -600px;
}

.slide-18::after{
    background-image: url('../img/keyboard.jpg');
}