/* Custom Styles*/

.reveal {
    font-size: 125%;
}

.reveal .cite {
    font-size: 70%;
}

.pour p {
    font-size: 200%;
    text-align: left;
    margin-left: 300px;
}
.pour .pourLetter {
    font-size: 200%;
    font-weight: 700;
    margin-right: 15px;
}

.reveal .lg-txt {
    font-size: 150%;
}

.reveal .list-unstyled {
	padding-left: 0;
	list-style: none;
}

.reveal .highlight {
    color: cyan;
}

.stand-out{
    color: #e7ad52;
}

.smaller{
    width: 70%;
}


