/* Custom styles for Partners and Projects page */

.partner{
    border-bottom: #38414d 4px solid;
    box-shadow: #e1e4e7 0px -1px 4px;
    padding: 1rem 2rem;
    min-height: 300px;
}

.description{
    font-size: 1.7rem;
}

